[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"

[packages]
asgiref = "~=3.2.3"
astroid = "~=2.3.3"
certifi = "~=2019.11.28"
chardet = "~=3.0.4"
coreapi = "~=2.3.3"
coreschema = "~=0.0.4"
django-cors-headers = "~=3.2.0"
djangorestframework = "~=3.11.0"
djangorestframework-simplejwt = "~=4.4.0"
drf-yasg = "~=1.17.0"
entrypoints = "~=0.3"
idna = "~=2.8"
inflection = "~=0.3.1"
isort = "~=4.3.21"
itypes = "~=1.1.0"
jinja2 = "~=2.10.3"
lazy-object-proxy = "~=1.4.3"
mccabe = "~=0.6.1"
openapi-codec = "~=1.3.2"
pep8 = "~=1.7.1"
pycodestyle = "~=2.5.0"
pyflakes = "~=2.1.1"
pylint = "~=2.4.4"
pyparsing = "~=2.4.6"
pytz = "~=2019.3"
requests = "~=2.22.0"
simplejson = "~=3.17.0"
six = "~=1.13.0"
sqlparse = "~=0.3.0"
uritemplate = "~=3.0.1"
urllib3 = "~=1.25.7"
wrapt = "~=1.11.2"
Django = "~=3.0.7"
MarkupSafe = "~=1.1.1"
PyJWT = "~=1.7.1"
PyYAML = "~=5.3"
"ruamel.yaml" = "~=0.16.5"
gunicorn = "*"
psycopg2 = "*"
dj-database-url = "*"
django-heroku = "*"
django-money = "*"
drf-nested-routers = "*"
pylint-django = "*"

[requires]
python_version = "3.8"
